body {
  padding: 0px;
  margin: 0px;
}

.main.dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('./images/bg-desktop-dark.jpg') no-repeat #fff;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}
i {
  color: hsl(220, 98%, 61%);
  width: 10px;
  height: 100%;
}
.container h1 {
  color: #fff;
}
.container input {
  margin-left: 20px;
  border: none;
  padding: 10px;
  font-size: 20px;
  outline: none;
  width: 85%;
}

.input {
  box-sizing: border-box;
  display: flex;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  align-items: center;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999;
  cursor: pointer;
}

.todos {
  margin-top: 20px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#itens {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #0001;
  padding: 0px;
  margin: 0px;
}
#itens li {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  padding: 20px;
  list-style-type: none;
  border-bottom: 1px solid #0001;
  align-items: unset;
}
#itens span {
  display: flex;
  align-items: flex-end;
}

.container-add {
  margin-top: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  border: none;
  color: #000;
  background-color: white;
  cursor: pointer;
  outline: none;
}
button:hover {
  color: hsl(220, 98%, 61%);
}
button:active {
  color: hsl(220, 98%, 61%);
}
